* {
    margin: 0 auto;
    max-width: 80em;
}

.wrapper {

}

li {
    list-style: none;
}

a {
    display: block;
}

.category_image {
    background-size: cover;
    width: 50%;
}

.category_item {
    text-align: center;
}

#category {
    width: 50%;
    float: left;
}

#product {
    width: 50%;
    float: left;
}

.product_col {
    width: 50%;
    float: left;
}


.product_image {
    width: 90%;
}
